/* line 7, ../scss/base/_variables.scss */
.color0 .themeBackgroundColor, .color0 #hr, .color0 #nav:before, .color0 header #header-content button, header #header-content .color0 button {
  background-color: mediumorchid;
}

/* line 10, ../scss/base/_variables.scss */
.color1 .themeBackgroundColor, .color1 #hr, .color1 #nav:before, .color1 header #header-content button, header #header-content .color1 button {
  background-color: lightcoral;
}

/* line 13, ../scss/base/_variables.scss */
.color2 .themeBackgroundColor, .color2 #hr, .color2 #nav:before, .color2 header #header-content button, header #header-content .color2 button {
  background-color: blueviolet;
}

/* line 16, ../scss/base/_variables.scss */
.color3 .themeBackgroundColor, .color3 #hr, .color3 #nav:before, .color3 header #header-content button, header #header-content .color3 button {
  background-color: mediumseagreen;
}

/* line 19, ../scss/base/_variables.scss */
.color4 .themeBackgroundColor, .color4 #hr, .color4 #nav:before, .color4 header #header-content button, header #header-content .color4 button {
  background-color: darkslateblue;
}

/* line 23, ../scss/base/_variables.scss */
.color0 .themeColor, .color0 font {
  color: mediumorchid;
}

/* line 26, ../scss/base/_variables.scss */
.color1 .themeColor, .color1 font {
  color: lightcoral;
}

/* line 29, ../scss/base/_variables.scss */
.color2 .themeColor, .color2 font {
  color: blueviolet;
}

/* line 32, ../scss/base/_variables.scss */
.color3 .themeColor, .color3 font {
  color: mediumseagreen;
}

/* line 35, ../scss/base/_variables.scss */
.color4 .themeColor, .color4 font {
  color: darkslateblue;
}

/* line 39, ../scss/base/_variables.scss */
.color0 .themeBorderColor {
  border-color: mediumorchid;
}

/* line 42, ../scss/base/_variables.scss */
.color1 .themeBorderColor {
  border-color: lightcoral;
}

/* line 45, ../scss/base/_variables.scss */
.color2 .themeBorderColor {
  border-color: blueviolet;
}

/* line 48, ../scss/base/_variables.scss */
.color3 .themeBorderColor {
  border-color: mediumseagreen;
}

/* line 51, ../scss/base/_variables.scss */
.color4 .themeBorderColor {
  border-color: darkslateblue;
}

/* line 1, ../scss/base/_reset.scss */
* {
  margin: 0;
  border: 0;
  padding: 0;
  position: relative;
}

/* line 1, ../scss/base/_base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 6, ../scss/base/_base.scss */
font {
  -webkit-transition: color 0.6s linear;
  -moz-transition: color 0.6s linear;
  -o-transition: color 0.6s linear;
  -webkit-transition: color 0.6s linear;
}

/* line 11, ../scss/base/_base.scss */
h1 {
  color: gray;
  font-size: 50px;
  line-height: 40px;
  text-align: right;
}

/* line 18, ../scss/base/_base.scss */
h4 {
  color: gray;
  line-height: 100px;
  font-size: 30px;
}

/* line 24, ../scss/base/_base.scss */
h5 {
  margin-top: 50px;
  color: gray;
  text-align: center;
  font-size: 18px;
  line-height: 16px;
}

/* line 1, ../scss/layout/_menu.scss */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  width: calc(100% - 40px);
  height: 100px;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 14, ../scss/layout/_menu.scss */
#menu #menu-icon {
  width: 35px;
  height: 35px;
  background-image: url(../img/menu-button-of-three-horizontal-lines.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.57;
}

/* line 26, ../scss/layout/_menu.scss */
#hr {
  position: fixed;
  top: 100px;
  left: 20px;
  width: calc(100% - 40px);
  height: 1px;
  z-index: 2;
  -webkit-transition: background-color 0.6s linear;
  -moz-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  -webkit-transition: background-color 0.6s linear;
}

/* line 38, ../scss/layout/_menu.scss */
#nav {
  position: fixed;
  top: calc(-100% + 100px);
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  z-index: 1;
}
/* line 47, ../scss/layout/_menu.scss */
#nav a {
  border-bottom: 1px solid;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-size: 25px;
  color: white;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}
/* line 67, ../scss/layout/_menu.scss */
#nav a:hover {
  background-color: white;
  color: gray;
}

/* line 73, ../scss/layout/_menu.scss */
#nav:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  -webkit-transition: background-color 0.6s linear;
  -moz-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  -webkit-transition: background-color 0.6s linear;
}

/* line 1, ../scss/layout/_header.scss */
header {
  padding-top: 101px;
  width: 100%;
  height: calc(100% - 101px);
}
/* line 6, ../scss/layout/_header.scss */
header #header-content {
  padding: 0 20px;
  height: 100%;
  width: calc(100% - 40px);
  overflow: hidden;
}
/* line 12, ../scss/layout/_header.scss */
header #header-content #headers {
  height: calc(100% - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 19, ../scss/layout/_header.scss */
header #header-content button {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 30px;
  width: calc(100% - 40px);
  height: 70px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.6s linear;
  -moz-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  -webkit-transition: background-color 0.6s linear;
}

/* line 33, ../scss/layout/_header.scss */
#header-content:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/23244094_1029738583835013_6247404116621106411_n.jpg), linear-gradient(#ffffff 5%, transparent 15%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  filter: blur(1px) contrast(10%) brightness(180%);
  transform: scale(1.1);
}
