/* line 1, ../scss/base/_reset.scss */
* {
  margin: 0;
  border: 0;
  padding: 0;
  position: relative;
}

/* line 8, ../scss/base/_reset.scss */
.bgColor0, #nav.bgColor_before0:before {
  background-color: mediumorchid;
}

/* line 11, ../scss/base/_reset.scss */
.bgColor1, #nav.bgColor_before1:before {
  background-color: lightcoral;
}

/* line 14, ../scss/base/_reset.scss */
.bgColor2, #nav.bgColor_before2:before {
  background-color: blueviolet;
}

/* line 17, ../scss/base/_reset.scss */
.bgColor3, #nav.bgColor_before3:before {
  background-color: mediumseagreen;
}

/* line 20, ../scss/base/_reset.scss */
.bgColor4, #nav.bgColor_before4:before {
  background-color: darkslateblue;
}

/* line 24, ../scss/base/_reset.scss */
.txtColor0 {
  color: mediumorchid;
}

/* line 27, ../scss/base/_reset.scss */
.txtColor1 {
  color: lightcoral;
}

/* line 30, ../scss/base/_reset.scss */
.txtColor2 {
  color: blueviolet;
}

/* line 33, ../scss/base/_reset.scss */
.txtColor3 {
  color: mediumseagreen;
}

/* line 36, ../scss/base/_reset.scss */
.txtColor4 {
  color: darkslateblue;
}

/* line 1, ../scss/base/_base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 6, ../scss/base/_base.scss */
font {
  -webkit-transition: color 0.6s linear;
  -moz-transition: color 0.6s linear;
  -o-transition: color 0.6s linear;
  -webkit-transition: color 0.6s linear;
}

/* line 10, ../scss/base/_base.scss */
h1 {
  color: gray;
  font-size: 50px;
  line-height: 40px;
  text-align: right;
}

/* line 17, ../scss/base/_base.scss */
h4 {
  color: gray;
  line-height: 100px;
  font-size: 30px;
}

/* line 23, ../scss/base/_base.scss */
h5 {
  margin-top: 50px;
  color: gray;
  text-align: center;
  font-size: 18px;
  line-height: 16px;
}

/* line 1, ../scss/layout/_menu.scss */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  width: calc(100% - 40px);
  height: 100px;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 14, ../scss/layout/_menu.scss */
#menu #menu-icon {
  width: 35px;
  height: 35px;
  background-image: url(../img/menu-button-of-three-horizontal-lines.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.57;
}

/* line 26, ../scss/layout/_menu.scss */
#hr {
  position: fixed;
  top: 100px;
  left: 20px;
  width: calc(100% - 40px);
  height: 1px;
  z-index: 2;
  -webkit-transition: background-color 0.6s linear;
  -moz-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  -webkit-transition: background-color 0.6s linear;
}

/* line 37, ../scss/layout/_menu.scss */
#nav {
  position: fixed;
  top: calc(-100% + 100px);
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  z-index: 1;
  -webkit-transition: top 0.6s linear;
  -moz-transition: top 0.6s linear;
  -o-transition: top 0.6s linear;
  -webkit-transition: top 0.6s linear;
}
/* line 48, ../scss/layout/_menu.scss */
#nav a {
  border-bottom: 1px solid;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-size: 25px;
  color: white;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
}
/* line 63, ../scss/layout/_menu.scss */
#nav a:hover {
  background-color: white;
  color: gray;
}

/* line 69, ../scss/layout/_menu.scss */
#nav:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  -webkit-transition: background-color 0.6s linear;
  -moz-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  -webkit-transition: background-color 0.6s linear;
}

/* line 1, ../scss/layout/_header.scss */
header {
  padding-top: 101px;
  width: 100%;
  height: calc(100% - 101px);
}
/* line 6, ../scss/layout/_header.scss */
header #header-content {
  padding: 0 20px;
  height: 100%;
  width: calc(100% - 40px);
  overflow: hidden;
}
/* line 12, ../scss/layout/_header.scss */
header #header-content #headers {
  height: calc(100% - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 19, ../scss/layout/_header.scss */
header #header-content button {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 30px;
  width: calc(100% - 40px);
  height: 70px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.6s linear;
  -moz-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  -webkit-transition: background-color 0.6s linear;
}

/* line 32, ../scss/layout/_header.scss */
#header-content:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/23244094_1029738583835013_6247404116621106411_n.jpg), linear-gradient(#ffffff 5%, transparent 15%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  filter: blur(1px) contrast(10%) brightness(180%);
  transform: scale(1.1);
}
